<h3>Welcome to Noughts and Croissants!</h3>

<p>Would you like to play against the computer or against your friend? Type 1 for computer and nothing for friend</p>

<p><%= form_for @game do |f| %></p>
  <p><%= f.label :computer %></p>
  <p><%= f.text_field :computer  %></p>
  <%= f.submit %>
<% end %>


