<% @users.order("wins desc").each do |user| %>
<table class='user-table'>
    <th>Email</th>
    <th>Number of Wins</th>
    <th>Number of Losses</th>
    <th>Number of Draws</th>
    <% if user.wins != nil %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.wins %></td>
        <td><%= user.losses %></td>
        <td><%= user.draws %></td>
      </tr>
    <% end %>
  </table>
<% end %>


