.container {
  width: 950px;
  margin: 0 auto;
}

.grid-separator {
  vertical-align: top;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  width: 230px;
  height: 230px;
  border: thick solid black;
  border-radius: 10px;
  background: #C43737;
}

.grid-separator:hover {
  background: #C35959;
}

.show-grid-value {
  margin: 0 auto;
  font-size: 60px;
  text-align: center;
  margin: 0;
}

.submit-move {
  padding: 10px;
}

.submit-button {
  margin: 0 auto;
  color: green;
  font-size: 20px;
  width: 200px;
}

.submit {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.radio-button {
  display: none;
}

.radio-button:checked + label {
  /*margin: 0 auto;*/
  background: green;
  /*font-size: 60px;
  text-align: center;
  margin: 0;*/
}

