$font_0: Roboto Condensed;
$font_1: sans-serif;
$border: thin dotted white;

.user-table {
  font-family: $font_0, sans-serif;
  width: 750px;
  font-size: 15px;
  padding: 10px;
  text-align: left;
  th {
    border-bottom: $border;
  }
  td {
    border-bottom: $border;
    font-size: 20px;
    width: 200px;
  }
}

.submit-new-game-button {
  width: 100px;
  padding: 20px;
  font-size: 20px;
}

.signup-list {
  font-size: 20px;
  display: inline-block;
}

.login-register-form {
  font-family: $font_0, $font_1;
}

.field,
.actions,
.devise-links {
  margin-top: 10px;
  font-family: $font_0, $font_1;
}





