.user-table {
  font-family: 'Roboto Condensed', sans-serif;
  width: 750px;
  font-size: 15px;
  padding: 10px;
  text-align: left;
}
th {
  border-bottom: thin solid white;
}

td {
  border-bottom: thin dotted white;
  font-size: 20px;
  width: 200px;
}

.submit-new-game-button {
  width: 100px;
  padding: 20px;
  font-size: 20px;
}

.signup-list {
  font-size: 20px;
  display: inline-block;
}

.login-register-form {
  font-family: 'Roboto Condensed', sans-serif;
}

.field,
.actions,
.devise-links {
  margin-top: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}





