.user-table {
  width: 750px;
  font-size: 15px;
  padding: 10px;
  text-align: left;
}
th {
  border-bottom: thin solid white;
}

td {
  border-bottom: thin dotted white;
}

.submit-new-game-button {
  width: 100px;
  padding: 20px;
  font-size: 20px;
}

.signup-list {
  font-size: 20px;
  display: inline-block;
}

